In [1]:
import pandas as pd

# Percorso del file CSV
file_path21 = r'C:\Users\dgarattoni\OneDrive - scmgroup.com\my ONEDRIVE\Business Analyst in Spare Parts\06.CONTROL ROOM\8. REPORTISTICA\status data\df_Status_op_f.csv'

# Carica il file CSV in un DataFrame
df_status = pd.read_csv(file_path21)

# Seleziona solo le colonne 'event_ID' ed 'extradata'
df_selected = df_status[['event_ID', 'extradata']]

In [2]:
import pandas as pd

# Supponiamo che df_selected sia il tuo DataFrame
# df_selected = pd.DataFrame({...})

# Filtra il DataFrame per ottenere solo le righe dove 'extradata' non è {}
filtered_df = df_selected[df_selected['extradata'].apply(lambda x: x != "{}")]

# Stampa il DataFrame filtrato
# Imposta le opzioni per visualizzare più colonne e righe
pd.set_option('display.max_columns', None)  # Mostra tutte le colonne
pd.set_option('display.max_colwidth', None)  # Mostra l'intero contenuto delle colonne


print(filtered_df)

         event_ID  \
17             17
18             18
19             19
20             20
21             21
...           ...
1402056   1402056
1402057   1402057
1402058   1402058
1402059   1402059
1402060   1402060

                                                                                                                                                                                                                                                                                                              extradata
17                                                                 {"Machine/OperatingGroups/05": [{"properties_type": "TE", "data_value": "0", "from": "2024-01-22T09:59:59", "to": "2024-01-22T09:59:59"}, {"properties_type": "TE", "data_value": "0", "from": "2024-01-22T09:59:59", "to": "2024-01-22T09:59:59"}]}
18                                                                 {"Machine/OperatingGroups/05": [{"properties_type": "TE", "data_value": "0", "from": "2024-01-22T09:59:59", "to": "2024-01-22T09:59:59"}, {"properties_type": "TE", "data_value": "0", "from": "2024-01-22T09:59:59", "to": "2024-01-22T09:59:59"}]}
19                                                                 {"Machine/OperatingGroups/05": [{"properties_type": "TE", "data_value": "0", "from": "2024-01-22T09:59:59", "to": "2024-01-22T09:59:59"}, {"properties_type": "TE", "data_value": "0", "from": "2024-01-22T09:59:59", "to": "2024-01-22T09:59:59"}]}
20                                                                 {"Machine/OperatingGroups/05": [{"properties_type": "TE", "data_value": "0", "from": "2024-01-22T09:59:59", "to": "2024-01-22T09:59:59"}, {"properties_type": "TE", "data_value": "0", "from": "2024-01-22T09:59:59", "to": "2024-01-22T09:59:59"}]}
21                                                                 {"Machine/OperatingGroups/05": [{"properties_type": "TE", "data_value": "0", "from": "2024-01-22T09:59:59", "to": "2024-01-22T10:00:01"}, {"properties_type": "TE", "data_value": "0", "from": "2024-01-22T09:59:59", "to": "2024-01-22T09:59:59"}]}
...                                                                                                                                                                                                                                                                                                                 ...
1402056  {"Machine/OperatingGroups/06": [{"properties_type": "VASCA COLLA", "data_value": "READY", "from": "2024-07-19T13:44:32", "to": "2024-07-19T13:45:54"}], "Machine/OperatingGroups/08": [{"properties_type": "VASCA COLLA", "data_value": "READY", "from": "2024-07-19T13:44:32", "to": "2024-07-19T13:45:54"}]}
1402057  {"Machine/OperatingGroups/06": [{"properties_type": "VASCA COLLA", "data_value": "READY", "from": "2024-07-19T13:45:54", "to": "2024-07-19T13:48:31"}], "Machine/OperatingGroups/08": [{"properties_type": "VASCA COLLA", "data_value": "READY", "from": "2024-07-19T13:45:54", "to": "2024-07-19T13:48:31"}]}
1402058  {"Machine/OperatingGroups/06": [{"properties_type": "VASCA COLLA", "data_value": "READY", "from": "2024-07-19T13:48:31", "to": "2024-07-19T13:49:12"}], "Machine/OperatingGroups/08": [{"properties_type": "VASCA COLLA", "data_value": "READY", "from": "2024-07-19T13:48:31", "to": "2024-07-19T13:49:12"}]}
1402059  {"Machine/OperatingGroups/06": [{"properties_type": "VASCA COLLA", "data_value": "READY", "from": "2024-07-19T13:49:12", "to": "2024-07-19T13:49:14"}], "Machine/OperatingGroups/08": [{"properties_type": "VASCA COLLA", "data_value": "READY", "from": "2024-07-19T13:49:12", "to": "2024-07-19T13:49:14"}]}
1402060  {"Machine/OperatingGroups/06": [{"properties_type": "VASCA COLLA", "data_value": "READY", "from": "2024-07-19T13:49:14", "to": "2024-07-19T13:51:24"}], "Machine/OperatingGroups/08": [{"properties_type": "VASCA COLLA", "data_value": "READY", "from": "2024-07-19T13:49:14", "to": "2024-07-19T13:51:24"}]}

[1359057 rows x 2 columns]

In [3]:
import pandas as pd
import json

# Funzione per normalizzare il JSON con ID evento
def normalize_json_with_id(json_str, event_id):
    # Converti la stringa JSON in un dizionario Python
    data = json.loads(json_str)
    
    # Crea una lista di dizionari per ogni elemento nel JSON
    rows = []
    for key, items in data.items():
        for item in items:
            row = {'event_ID': event_id, 'key': key}
            row.update(item)
            rows.append(row)
    
    return rows



# Normalizzare i dati con l'ID evento
normalized_data = []
for index, row in filtered_df.iterrows():
    normalized_data.extend(normalize_json_with_id(row['extradata'], row['event_ID']))

# Converti i dati normalizzati in un DataFrame
df_normalized = pd.DataFrame(normalized_data)

# Mostra il DataFrame normalizzato
print(df_normalized)

         event_ID                         key properties_type data_value  \
0              17  Machine/OperatingGroups/05              TE          0
1              17  Machine/OperatingGroups/05              TE          0
2              18  Machine/OperatingGroups/05              TE          0
3              18  Machine/OperatingGroups/05              TE          0
4              19  Machine/OperatingGroups/05              TE          0
...           ...                         ...             ...        ...
3506220   1402058  Machine/OperatingGroups/08     VASCA COLLA      READY
3506221   1402059  Machine/OperatingGroups/06     VASCA COLLA      READY
3506222   1402059  Machine/OperatingGroups/08     VASCA COLLA      READY
3506223   1402060  Machine/OperatingGroups/06     VASCA COLLA      READY
3506224   1402060  Machine/OperatingGroups/08     VASCA COLLA      READY

                        from                   to
0        2024-01-22T09:59:59  2024-01-22T09:59:59
1        2024-01-22T09:59:59  2024-01-22T09:59:59
2        2024-01-22T09:59:59  2024-01-22T09:59:59
3        2024-01-22T09:59:59  2024-01-22T09:59:59
4        2024-01-22T09:59:59  2024-01-22T09:59:59
...                      ...                  ...
3506220  2024-07-19T13:48:31  2024-07-19T13:49:12
3506221  2024-07-19T13:49:12  2024-07-19T13:49:14
3506222  2024-07-19T13:49:12  2024-07-19T13:49:14
3506223  2024-07-19T13:49:14  2024-07-19T13:51:24
3506224  2024-07-19T13:49:14  2024-07-19T13:51:24

[3506225 rows x 6 columns]